/* ------------------------------
    RESET
------------------------------ */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* ------------------------------
    COMMONS
------------------------------ */
body {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to right top, #040af8, #0066ff, #0076c9, #007c75, #0a7d41);
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 62.5rem;
    width: 100%;
    margin: auto;
}
.image-container {
    position: relative;
    width: 80%;
}
.col__image {
    position: absolute;
    left: 0;
    right: 0;
    height: 21.875rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn {
    text-align: center;
    width: 100%;
    margin-bottom: 1.25rem;
}
.btn button {
    color: white;
    padding: .625rem 1.25rem;
    border-radius: .9375rem;
    cursor: pointer;
    border: none;
}
#autoplay {
    background-color: #0a7d41;
}
#autoplay-reverse {
    background-color: yellowgreen;
}
.description {
    position: absolute;
    text-align: right;
    color: white;
    padding: .3125rem .625rem;
    right: 1.25rem;
    left: 1.25rem;
    bottom: 1.875rem;
    background-color: rgba(92, 92, 92, 0.521);
}
.col__preview__image {
    position: relative;
    width: 20%;
    height: 21.875rem;
}
.preview {
    width: 100%;
    height: calc(100% / 5);
    border: 1px solid black;
    filter: grayscale(0.8);
}
.border-white {
    border: 4px solid white;
    filter: none;
}
.prev-btn, .next-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    background-color: lightgray;
    cursor: pointer;
    z-index: 100;
}
.prev-btn {
    top: .625rem;
}
.next-btn {
    bottom: .625rem;
}
/* ------------------------------
    HIDE & SHOW
------------------------------ */
.show {
    opacity: 1 !important;
    animation: zoom-in 0.5s ease-in-out;
    z-index: 1;
}

/* ------------------------------
    KEYFRAME
------------------------------ */
@keyframes zoom-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}