/* ------------------------------
    RESET
------------------------------ */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* ------------------------------
    COMMONS
------------------------------ */
body {
    height: 100vh;
    display: flex;
}
.container {
    display: flex;
    max-width: 62.5rem;
    width: 100%;
    margin: auto;
}
.col__image {
    position: relative;
    width: 80%;
    height: 21.875rem;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description {
    position: absolute;
    text-align: right;
    color: white;
    right: 1.25rem;
    bottom: 1.875rem;
}
.col__preview__image {
    width: 20%;
    height: 21.875rem;
}
.preview {
    width: 100%;
    height: calc(100% / 5);
    border: 1px solid black;
}